*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;

}

.box{
    width: 90%;
    margin: 50px auto;
    
}

body{
    background-color: white;
    
}

.paragraph {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

h1{
    color: #e53170;
    text-align: center;
}

.row::after{
    content: "";
    display: table;
    clear: both;
    
}

.male{
    background-color: #14171f;
    min-height: 100px;
    float: left;
    width:calc((100% / 3) - 30px); 
    margin: 15px;
    
}

.info{
    float: left;
    
}


.male img{
    height: 100px;
    float: left;
}

h4{
    color: white;
    padding: 5px;
    
}

h5{
    color: white;
    padding: 5px;
    
}

h6{
    color: #aaafe6;
    padding: 5px;
    
}


